@import "reset.css";

body {
    font-family: Arial;
}

.container {
    max-width: 1180px;
    margin: auto;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.content {
    flex:auto;
}

/*----------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------*/
/*---------------------------------------Box1--------------------------------------------*/

.box_1 {
    background-color: #445162;
    padding: 50px 0;
}

.text_1 {
    font-size: 60px;
    margin-bottom: 30px;

}

.list li  {
    background: url('check_icon_346.png') left no-repeat;
    padding: 0 0 0 40px;
    font-size: 20px;
    line-height: 36px;

}

.content_1 {
    display: flex;
    justify-content: space-between;
}

.lefttext_1 {
    font-size: 60px;
    line-height: 1.2;
    font-weight: 400;
    text-shadow: 0px 1px 0px rgba(0,0,0,0.3);
    color: #ffffff;
}

/*----------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------*/
/*---------------------------------------Box2--------------------------------------------*/

.box_2 {
    background-color: #ffffff;
    padding: 50px 0;
}

.content_2 {
    display: flex;
}

.photo_2{
    width: 430px;
    height: 186px;
    background-color: #445161;
    flex: auto;
}

.textH{
    font-size: 30px;
    line-height: 36px;
    font-weight: 100;
    color: #445161;
}

.text_2{
    font-family: Arial;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
}

.right_2 {
    flex: auto;
    padding-left: 35px;
}

/*----------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------*/
/*---------------------------------------Box3--------------------------------------------*/

.box_3 {
    background-color: #f5f5f5;
    padding: 50px 0 20px 0;
}

.headbox_3 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;
}

.columns {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -8px;
}

.column {
    flex: 0 1 50%;
    margin-bottom: 30px;
    padding: 0 8px;
}

.item_box {
    display: flex;
}

.item_img{
    width: 200px;
    height: 150px;
    background-color: #445161;

    flex: 0 0 200px;
}

.item_titleText {
    flex: 1 1 auto;
    padding-left: 15px;
}

.item_title {
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    color: #445161; 
    margin-bottom: 13px;
}

.item_text {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
}

/*----------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------*/
/*---------------------------------------Box4--------------------------------------------*/

.box_4 {
    padding: 50px 0;
}

.headbox_4 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;
}

.box_4_body {
    max-width: 990px;
    margin: 0 auto;
}

.box_4_flex {
    display: flex;
    margin: 0 -22px;
}

.box_4_column {
    flex: 0 1 33.333%;
    padding: 0 22px;
    display: flex;
}

.box_4_item {
    background-color: #445162;
    color: #ffffff;
    border-radius: 4px;
    border: 1px solid #445162;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.line1 {
    text-align: center;
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 12px 0;
}

.line2 {
    text-align: center;
    background-color: #ffffff;
    font-size: 40px;
    line-height: 30px;
    font-weight: 400;
    color: #445162;
    padding: 17px 0;

}

.text3 {
    padding: 20px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    flex: 1 1 auto;
}

.text3_p {
    margin-bottom: 25px;
}

.box_4_button {
    display: block;
    height: 40px;
    background-color: #ffffff;
    border-radius: 4px;
    margin: 0 20px;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    color: #445161;
    text-align: center;
    padding: 9px 0;
    transition: background-color 0.15s linear, box-shadow 0.2s linear;
}

/*----------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------*/
/*---------------------------------------Ending--------------------------------------------*/

.ending {
    background-color: #f5f5f5;
}

.flexend {
    display: flex;
    height: 65px;
    justify-content: center;
    align-items: center;
}

.textend {
   font-size: 12px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #445162;
}

/*----------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------*/